html{
    background: linear-gradient(#e6edf7 99%, #6694cc) ;
}

header{
    margin: 2em 2em;
}

main{
    padding: 1em 0 10em 0   ;
    width: 100%;

    margin: 0 auto;
}

/*Lado Izquierdo*/
.interfaz-usuario{  
    display: inline-block;
    width: 60%;
    height: 30em;
    margin-top: 1em;
    margin-left: 10%;
    border: none;
    border-radius: 30px;
    padding: 1em 0 15em 0; 
}

.interfaz-usuario:focus{
    outline:none;
}

.interfaz-usuario form{
    display:inline-block;
    width: 70%;
}

#caja-texto-usuario{
    width: 100%;
    height: 100%;
    font-size: 3em;
    resize: none;
    color: #0A3871;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 20px 0  0px 0;
}

.botones{
    padding: 0 0 0 0;
    vertical-align: bottom;
}

.botones p{
    font-size: 13px;
    text-align: left;
    margin: 0 25px;
    color: #999999;
}

.botones p::before{
    content: "\1F6C8  ";
    font-size: 17px;
    color: #555555;
}

.boton{

    width: 400px;
    border: solid 1px #0A3871;
    border-radius: 32px;
    padding: 24px;
    
    vertical-align: bottom;
    text-align: center;
    margin: 20px 50px 0 0;
}

.boton:hover{
    scale: 1.1;
    cursor: pointer;
}

#encriptar{
    background-color: #0A3871;
    color: white;
}

#desencriptar{
    background-color: #d8dfe8;
    color: #0A3871;
}

/* Lado Derecho */

.interfaz-derecha{
    padding: 1em 0 15em 0   ;
    width: 20%;
    height: 30em;
    margin: 1em 0 0 0;
    /*background: linear-gradient(white,#c2c2c2);*/
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: none;
    box-shadow: 24px 24px 32px -8px #00000014,-24px -24px 32px -8px #00000014 ;
}

.textos{
    font-size: 1.5em  ;
    margin: 1em;
    border: none green;
    word-wrap: break-word;
    width: auto;
  /*   height: 100%; */
    overflow: auto;
    color: black; 
    text-align: center;
    padding: 2em;
    margin: 0 3px;
}

.textos::-webkit-scrollbar, #caja-texto-usuario::-webkit-scrollbar{
    width: 10px;
}

.textos::-webkit-scrollbar-thumb,#caja-texto-usuario::-webkit-scrollbar-thumb{
    background: rgba(10, 56, 113, 1);
    border-radius: 10px;
}

#textoA{
    font-size: 1.5em;
}

#textoB{
    padding-top: 1em;
color: #999999;
}

#textoA::first-letter, #textoB::first-letter{
    text-transform: uppercase;
}

.boton-copiar{
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    
}

#copiar{ 
    vertical-align: bottom;
    max-width: 80%;
    margin: 2em 2em 2em 2.5em;
}

#copiar:active{
    border: solid 1px #0A3871;
    background-color: rgba(10, 56, 133, 10);
}


/* repositivo */

/*Minimos*/

@media  screen and ( min-width: 720px)
{
    .interfaz-usuario form{
        width: auto;
        margin: 1em 1em;
        margin-left: 10%;
    }
}

@media  screen and ( min-width: 900px)
{
    
    #copiar{
        width: 90%;
    }
}

@media  screen and ( min-width: 900px)
{
    
    main{
        height: 100%;
    }

    #copiar{
        max-width: 90%;
    }
}


/*Maximos*/

@media  screen and (max-width: 1024px)
{

  /*   .interfaz-usuario{
        width: auto;
        margin-left: 0;
    } */





/*     .botones{
        width: 95%;
    } */

/*     .boton{
        width: 90%;
        margin:25px;
        display: block;
    } */


    
}

@media  screen and (max-width: 1024px)
{
    main{
        padding: 0;
    }

    .interfaz-usuario{
        width: 100%;
        margin-left: 0;
    }

    .interfaz-usuario form{
        width: auto;
        margin: 1em 1em;
    }

    #caja-texto-usuario{
        text-align: center;
    }

    .botones{
        width: 100%;
       
    }

    .boton{
        display: grid;
        width: 90%;
        margin:25px auto;   
    }

    .interfaz-derecha{
        opacity: 1; scale:1; position:relative;display:block; margin: 2em 1em; width:auto;
        height: auto;
        padding: 0;
    }

    .textos{
        height: auto;
        max-height: 400px;
    }
    .imagen-centro{
        scale: 0;
    }
    #imagen-munieco{
        height: 0;
    }
    
/*     .boton-copiar{
        display: flex;
    } */
}






